.contact-form input {
  height: 25px;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
  padding-left: 5px;
}

.down-10 {
  margin-top: 40px;
}

textarea {
  margin-top: 5px;
  height: 100px;
  padding-left: 5px;
}

button {
  margin-top: 5px !important;
}

.down-60 {
  margin-top: 80px;
}
.right-border {
  border-right: 1px solid  #ccc;
}
footer a {
  color: rgba(0, 0, 0, .7)!important;
  font-weight: bold;
  font-size: 13px;

}
.wider > div {
  min-height: 60px;
}

img {
  position: relative;

}
footer a:hover{
  color: #23b3ce !important;
  text-decoration: none;
}
.down-footer-middle {
  margin-top: 80px;
}
label {
  text-transform: uppercase;
  font-weight: 100;
}
div.col-md-3 > small {
  position: relative;
  top:-10px;
}
input[type="text"] {
  font-size: 11px;
  padding: 14px 5px;
  width: 200px;
  position: relative;
  top: -8px;
  border: 1px solid #ccc;

}
button {
  font-size: 23px;
  position: relative;
  top: -11px;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  background-color: #23b3ce!important;
  font-weight: 100;
}
.align-right{
  text-align: right;
}
.share-with-a-friend {
  width: 23px;
  height: 23px;
  display: block;
  background: url("https://images.castifyme.com/web/images/share_23x23.png");
  cursor: pointer;
}
.share-with-a-friend-grey {
  width: 23px;
  height: 23px;
  display: block;
  background: url("https://images.castifyme.com/web/images/share_23x23_grey.png");
  cursor: pointer;
  margin-top: -10px;
}
.footer-ul li {
  width: 150px;
}
.wider{
  width: 120%;
  left: -10%!important;
}

@media (max-width: 767px) and (min-width: 100px){

  .wider > div{min-height:auto!important;width:100%;
    float: left;}
  .down-60{margin-top:20px!important;}
  .right-border{border:none!important;}
  .mobile_holds_menu{width:333px!important;margin:0 auto!important;
    float: none!important;margin-top:20px!important;}
}

