<footer class="footer">
  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left" style="display: inline-flex;"><span class="share-with-a-friend"></span>&nbsp; CastifyMe.com - Share with a Friend</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeVideoPlayer()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <input [(ngModel)]="share.name" type="text" style="position: static;width: 100%;font-size: 14px;padding-left: 12px;" class="form-control not-round" placeholder="* Friend's Name">
            </div>
            <div class="col-md-6">
              <input type="email" [(ngModel)]="share.email" class="form-control not-round" placeholder="* Friend's Email">
            </div>
          </div>
          <div style="margin-top: 10px;" class="row">
            <div class="col-md-12">
              <input type="text" [(ngModel)]="share.subject" style="position: static;width: 100%;font-size: 14px;padding-left: 12px;" class="form-control not-round" placeholder="* Your awesome subject">

            </div>
          </div>
          <div style="margin-top: 10px;"  class="row">
            <div class="col-md-12">
              <textarea placeholder="* The Message to your friend..." [(ngModel)]="share.message" class="form-control not-round" style="resize: none; height: 300px;"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="sendingShare" (click)="shareWithFriend();" class="btn btn-default"style="color: white;">Send</button>
          <button [disabled]="sendingShare" (click)="staticModal.hide()" class="btn btn-default danger" style="background-color: #bb7371!important;">Cancel</button>
        </div>
      </div>
    </div>

  </div>
  <div class="container ">
    <div class="row wider">
      <div class="col-sm-3 col-md-2 col-lg-2 down-footer-middle hidden-xs right-border">
        <img src="https://images.castifyme.com/web/images/logo-bw.png" alt="logo">
      </div>
      <div class="mobile_holds_menu col-sm-6 col-md-3 col-lg-3 down-60  right-border">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <ul class="footer-ul">
            <li><a [routerLink]="['/about']"  appTranslate>About Us</a></li>
            <li><a [routerLink]="['/pricing']" appTranslate>Pricing</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <ul class="footer-ul">
            <li><a [routerLink]="['/talent']" appTranslate>Talent</a></li>
            <li><a [routerLink]="['/faq']"  appTranslate>FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-1 col-md-1 down-60 hidden-xs">
        <a href="https://www.facebook.com/selftapescandinavia/" target="_blank" class="fb-icon"></a>
        <br>
        <span *ngIf="(me!=null)" (click)="staticModal.show()" class="share-with-a-friend-grey"></span>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 down-60 ">
        <div class="row ">
          <div class="center_mobile_e2 col-sm-6 col-md-3 col-lg-3 align-left">
            <label appTranslate>Subscribe</label><br>
            <small appTranslate>to our newsletter:</small>
          </div>
          <div class="center_mobile_e2 col-sm-9 col-md-9 col-lg-9">
            <div class="form-group">
              <input appTranslate [(ngModel)]="subscribeEmail" type="text" placeholder="YOUR EMAIL" class="subscribe-me">
              <button [disabled]="subscribing" (click)="doSubscribe();" class="btn btn-primary btn-success"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</footer>
