<app-menu></app-menu>
<div class="container text-center margin_bottom_for_footer">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center down-30">
      <img class="img-responsive" src="https://images.castifyme.com/web/images/jump.jpg" alt="Jumping Actor">
    </div>
  </div>
  <div class="row">
    <!--test-->
    <div style="text-align: left;" class="col-md-12">
      <h4 appTranslate>CastifyMe Does Everything Differently</h4>
      <p appTranslate>Welcome to CastifyMe.com - a casting site where actors can cast themselves.</p>
      <br>
      <h5 appTranslate>CastifyMe is hands on</h5>
      <p>
        <span appTranslate>Most casting sites base their search functions on the weight, height, hair color, and eye color of the actors. That’s fine if you are casting models </span> (!) - <span appTranslate>but</span>  80% <span appTranslate>of casting for movie roles is about TYPES and LIFE EXPERIENCE.</span>
      </p>
      <p appTranslate>The search functions at CastifyMe are like no other website’s in that they’re based on the way casters actually look for actors. Lots of actors have another job in addition to their craft, and that can be a huge advantage. After all, actors portray reality, and their experiences can provide a role with the needed believability. With the technology of today, you can even cast yourself online with your smartphone. That solves the problem of unknown actors never being discovered or going on vacation and suddenly being offered a casting.</p>
      <br>
      <h5 appTranslate>The cheapest subscription on the internet (...and free for producers)</h5>
      <p appTranslate>CastifyMe gives you the cheapest subscription on the internet at a third of the price of other casting sites. The price includes everything you need and much more. If you want a few more videos and pictures with a slightly more expensive subscription, the price is still about 50% cheaper than other sites. You can also combine CastifyMe with a membership on other sites if you don’t want to leave them.</p>

      <br>
      <h5 appTranslate>CastifyMe production support</h5>
      <p appTranslate>CastifyMe can provide production support to film productions using CastifyMe. Every job posted functions as an application, and we contact you if we would like to support your project. If you want to receive support, the only requirement is for CastifyMe to be credited with a logo in the credits along with the other foundations and companies supporting your project.</p>
      <br>
      <div class="col-md-12 text-center">
        <button (click)="announce()" class="btn btn-primary button-light" >Sign Up For Free</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
