.nav-pretty-buttons{
  padding:7px 30px;
  font-size: 12px;
}
.full-size{
  position: absolute;
  top:0;
  right: 0;
  margin: 0;
  padding: 20px 25px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
}
@media (max-width: 1024px) and (min-width: 100px){
  .navbar-header{
    background-color: #fff!important;}
  .navbar-default{ background-color: #fff!important;}
  .navbar-collapse{ background-color: #fff!important;}
  .collapse .in{ background-color: #fff!important;}
.navbar{background-color: #fff!important;}
  .navbar-fixed-top{background-color: #fff!important;}
  nav{background-color: #fff!important;}
  nav{background-color: #fff!important;}
  .navbar-default .navbar-collapse {
    border-color: #e7e7e7;
    background: #fff!important;
  }
  .collapse.in {
    display: block !important;
    width: 100%;
    background: #fff;
    position: absolute;left:0px;
    padding-left:6%;
    padding-right:6%;}
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-left:0px!important;margin-right:0px!important;}
}



