
<app-register-modal></app-register-modal>
<!-- Static navbar -->

<nav class="navbar navbar-default navbar-fixed-top white_e">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"(click)="isCollapsed = !isCollapsed" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/home']" class="navbar-brand" >
        <img  class="logo" src="https://images.castifyme.com/web/images/logo-castifyme.png" alt="">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" [ngClass]="{'in': isCollapsed}">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/home']" appTranslate="">Home</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/about']" appTranslate>About</a></li>
        <!--<li *ngIf="(me==null)" [routerLinkActive]="['active']"><a [routerLink]="['/pricing']" appTranslate>Pricing</a></li>-->
        <!--<li [routerLinkActive]="['active']"><a [routerLink]="['/typecasting']" appTranslate>Typecasting?</a></li>-->
        <!--<li [routerLinkActive]="['active']"><a [routerLink]="['/contact_us']" appTranslate>Contact Us</a></li>-->
        <!--<li *ngIf="(token==null)" [routerLinkActive]="['active']"><a [routerLink]="['/login']" appTranslate>Apply for Jobs</a></li>-->
        <!--<li [routerLinkActive]="['active']"><a [routerLink]="['/blog']" appTranslate="">Blog</a></li>-->
        <!--<li *ngIf="(role===0)" [routerLinkActive]="['active']"><a [routerLink]="['/jobs']" appTranslate>Jobs</a></li>-->
        <!--<li *ngIf="(role===1)" [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']" appTranslate>Dashboard</a></li>-->
        <li *ngIf="me!=null && notifications && notifications.length > 0" class="btn-group" dropdown>
          <a  href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle><i style="font-size: 20px;color: #cc4569;" class="fa fa-envelope" aria-hidden="true"></i>  <span class="badge">{{notifications.length}}</span> <span class="caret"></span></a>
          <ul *dropdownMenu role="menu" class="dropdown-menu" aria-labelledby="single-button">

            <li *ngFor="let mess of notifications; let i = index;" role="menuitem">
              <a style="cursor: pointer;" (click)="navigateByLink(mess.url,mess._id,i)" class="dropdown-item"  appTranslate>{{mess.title}} - <i><small style="color: #cecece">{{mess.createdAt | date:'medium'}}</small></i></a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="pull-right mobile_half">
        <div  *ngIf="(me!=null)" class="btn-group navbar-btn" dropdown>
          <button type="button" class="btn btn-default logged_in" dropdownToggle><span appTranslate>Hello</span> {{me.personalInfo.fName}} <span class="caret"></span>
          </button>
          <ul *dropdownMenu role="menu" class="dropdown-menu" aria-labelledby="single-button">

            <li *ngIf="me && me.role == 0" role="menuitem"><a class="dropdown-item" [routerLink]="['/profile/'+me._id]" appTranslate>Profile</a></li>
            <li *ngIf="me && me.role == 0 && me.activeSubscription"  role="menuitem"><a class="dropdown-item" [routerLink]="['/edit_profile']" appTranslate>Edit profile</a></li>
            <li *ngIf="me && me.role == 0"  role="menuitem"><a class="dropdown-item" [routerLink]="['/payments']" appTranslate>Payments</a></li>
            <li *ngIf="me && me.role == 1"  role="menuitem"><a class="dropdown-item" [routerLink]="['/filmmaker']" appTranslate>Edit Profile</a></li>
            <li *ngIf="me && me.role == 0"  class="divider dropdown-divider"></li>
            <li role="menuitem"><a [routerLink]="['/logout']" appTranslate>Log out</a></li>
          </ul>
        </div> <!--IF LOGGED IN ENDS-->
        <div class="btn-group holds_flags" dropdown>
          <button id="single-button" type="button" class="btn btn-default flags" dropdownToggle>
            <img [(src)]="langFlag" alt="">
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu role="menu" class="dropdown-menu flags_menu" aria-labelledby="single-button">
            <li role="menuitem"><a title="English" (click)="changeLanguage('en')" class="dropdown-item"
                                   href="javascript:void(0)"><img
              src="/assets/flags/United_States_of_America.png" alt=""></a></li>
            <li role="menuitem"><a title="Danish" (click)="changeLanguage('da')" class="dropdown-item"
                                   href="javascript:void(0)"><img
              src="/assets/flags/Denmark.png" alt=""></a></li>
            <li role="menuitem"><a title="Norwegian" (click)="changeLanguage('no')" class="dropdown-item"
                                   href="javascript:void(0)"><img
              src="/assets/flags/Norway.png" alt=""></a></li>
            <li role="menuitem"><a title="Swedish" (click)="changeLanguage('sv')" class="dropdown-item"
                                   href="javascript:void(0)"><img
              src="/assets/flags/Sweden.png" alt=""></a></li>
          </ul>
        </div>
        <div *ngIf="(me==null)"  class="holds_buttons_before_login">
        <button *ngIf="(me==null)" [routerLink]="['/login']" class="btn btn-default navbar-btn nav-pretty-buttons no-border-btn " appTranslate>Log In</button>
        <button *ngIf="(me==null)" class="btn btn-primary navbar-btn nav-pretty-buttons button-light full-size  pull-right" (click)="announce()" appTranslate>Sign Up</button>
        </div>
      </div>

    </div><!--/.nav-collapse -->

  </div>

</nav>
