.bordered {
  border: 1px solid #cecece;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

small {
  font-size: 10px;
  font-weight: 100;
  color: #cc4569;
}
@media only screen and (max-width:977px)and (min-width:280px) {

  .mobile_fix{position: absolute!important;width:100%;}
}


body{
  display: none!important;height:0px!important;}



