<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     style="top:50px;">
  <div class="modal-dialog modal-md mobile_fix" style="" >
    <div style="background-color: transparent;box-shadow:none;border: none;" class="modal-content" >
      <div class="modal-body" style="background: #fff!important;position: relative!important;overflow-y: scroll">
        <div class="row" >
          <div class="col-sm-1 col-md-2 col-lg-2"></div>
          <div style="background-color: #fff;box-shadow: 0 5px 15px rgba(0,0,0,.5);" class="col-xs-12 col-sm-10 col-md-8 col-lg-8 bordered" style="overflow-y: visible!important;min-height:672px;">
            <div class="form-group" >
              <label class="control-label" appTranslate>* I am: </label>
              <div class="input-group text-center">
                <div class="btn-group">
                  <label class="btn btn-default" [(ngModel)]="role" btnRadio="0"
                         uncheckable appTranslate>an actor</label>
                  <label class="btn btn-default" [(ngModel)]="role" btnRadio="1"
                         uncheckable appTranslate>a filmmaker</label>
                </div>
              </div>
            </div>

            <div class="form-group" >
              <label class="control-label" appTranslate>* First Name</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input class="form-control" placeholder="John" [(ngModel)]="fName" type="text">
              </div>
            </div>
            <div class="form-group" >
              <label class="control-label" appTranslate>* Last Name</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input class="form-control" placeholder="Smith" [(ngModel)]="lName" type="text">
              </div>
            </div>

            <div *ngIf="role === '1'" class="directors" >

              <div class="form-group" >
                <label class="control-label" appTranslate>* Phone</label>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                  <input class="form-control" placeholder="+4523252637" [(ngModel)]="director.phone" type="text">
                </div>
              </div>
              <div class="form-group" >
                <label class="control-label" appTranslate>* I represent:</label>
                <ss-multiselect-dropdown *ngIf="directorOptions" [texts]="eyeColorTexts"
                                         [settings]="mySettingsWithSearchMultiple"
                                         [options]="directorOptions"
                                         [(ngModel)]="director.agType"

                                         (ngModelChange)="onChangeRouteService($event,'agType',true)"></ss-multiselect-dropdown>
              </div>
              <!--<div class="form-group" style = "width:50%!important;float:left;">-->
                <!--<label class="control-label" appTranslate>* Country:</label>-->
                <!--<ss-multiselect-dropdown *ngIf="country" [texts]="eyeColorTexts"-->
                                         <!--[settings]="mySettingsWithSearchMultiple"-->
                                         <!--[options]="country"-->

                                         <!--[(ngModel)]="this.director.country"-->
                                         <!--(ngModelChange)="onChangeRouteService($event,'country',true)"></ss-multiselect-dropdown>-->
              <!--</div>-->

              <div class="form-group" >
                <label class="control-label" appTranslate>Company name</label>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                  <input class="form-control" placeholder="Paramount Pictures" [(ngModel)]="director.companyName" type="text">
                </div>
              </div>

              <div class="form-group" >
                <label class="control-label" appTranslate>Company url</label>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                  <input class="form-control" placeholder="http://www.paramount.com/" [(ngModel)]="director.companyURI" type="url">
                </div>
              </div>

              <div class="form-group" >
                <label class="control-label" appTranslate>IMDB url</label>
                <div class="input-group">
                  <span class="input-group-addon"><b>IMDB:</b></span>
                  <input class="form-control" placeholder="http://www.imdb.com/company/co0023400/" [(ngModel)]="director.imdb" type="url">
                </div>
              </div>

              <div class="form-group" >
                <label class="control-label" appTranslate>VAT</label>
                <div class="input-group">
                  <span class="input-group-addon"><b appTranslate>VAT:</b></span>
                  <input class="form-control" placeholder="12345678" [(ngModel)]="director.vat" type="url">
                </div>
              </div>
            </div>

            <div class="form-group" >
              <label class="control-label" appTranslate>* Email</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input class="form-control" [(ngModel)]="email" placeholder="email@example.com" type="email">
              </div>
            </div>

            <div class="form-group" >
              <label class="control-label"><span appTranslate>* Password</span>
                <small appTranslate>(6 characters, 1 number, 1 special symbol)</small>
              </label>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input appTranslate class="form-control" [(ngModel)]="password" placeholder="password" type="password">
              </div>
            </div>

            <div class="form-group" >
              <label class="control-label" appTranslate>* Repeat password</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input appTranslate class="form-control" [(ngModel)]="conf_password" placeholder="confirm password"
                       type="password">
              </div>
            </div>

            <div class="checkbox" >
              <label>
                <input [(ngModel)]="terms" id="term" type="checkbox">
                <span appTranslate>* I have read and accepted</span> <a (click)="readTOS()" appTranslate>the terms and conditions</a>,
                <a (click)="readData()" appTranslate> our Data Protection policy </a><span appTranslate>and our</span> <a
                (click)="readPrivacy()" appTranslate>Privacy policy.</a>
              </label>
            </div>

            <button  type="button" [disabled]="transferringData

" (click)="doRegister();"
                    id="btnSignUp"
                    class="btn btn-primary" style="overflow-y: visible;width: 100%;" appTranslate>Register</button>
            <button  type="button" [disabled]="transferringData"
                    (click)="closeModal();"
                    class="btn btn-danger" style="overflow-y: visible!important;width: 100%;margin-top: 10px;" appTranslate>Cancel</button>
            <br><br>
            <alert [hidden]="signUpErrors==null" type="danger">{{signUpErrors}}</alert>

          </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
