/* You can add global styles to this file, and also import other style files */

.bgcolnd {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0
}
.inner,
.loader {
  position: absolute;
  border-radius: 50%
}
#fountainTextG {
  width: 46px;
  height: 100vh
}
.loader {
  top: calc(50% - 232px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  perspective: 800px
}
.inner {
  box-sizing: border-box;
  width: 100%;
  height: 100%
}
.inner.one {
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid deepskyblue;
}
.inner.two {
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid deepskyblue
}
.inner.three {
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid deepskyblue
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
  }
}
.reveal {
  visibility: visible!important;
  transition: all 2s;
  opacity: 1!important
}
#wrapper {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s linear
}
body > .container {
  width: 100%!important;
  padding: 0!important;
}
nav > .container {
  width: 86%!important;
}

#navbar > ul   {
  padding-left: 10px!important;
  margin-top: 8px!important;
}
#navbar > ul >li > a  {
  color: rgba(0, 0, 0, .8);
}

#navbar > ul > li.active > a  {
  background-color: transparent!important;
  color: #26ddff;
}
#navbar > ul > li:hover  {
  border-bottom: 2px solid  rgba(38, 221, 255, 0.2);
}

#navbar > ul > li.active {
  border-bottom: 2px solid #26ddff;
}
.navbar-default{
  background-color: #fff!important;
}
.navbar{
  margin-bottom:0;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 200px !important;
}

.footer {
  position: absolute;
  bottom:10px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  overflow: hidden!important;
}

.footer-ul li{
  list-style: none;
  text-transform: uppercase;
  float: left;
  padding: 5px 0px;

}
.down-50{
  margin-top: 110px;
}
.fb-icon {
  width: 23px;
  height: 23px;
  background: url("https://images.castifyme.com/web/images/fb-icon.png");
  display: block;
  cursor: pointer;
}
.down-30{
  margin-top: 50px;
}
.pretty-buttons{
  padding:7px 30px!important;
  font-size: 12px!important;
}
.button-light{
  background-color: #23b3ce!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;color:#fff!important;
}
.button-light:hover{
  background-color: #16cebe !important;color:#fff!important;
}

pagination > ul > li.active {
  background-color: #16cebe !important;
}

body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div > div > div > ss-multiselect-dropdown > div > button,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.toggle > div > div > div > ss-multiselect-dropdown > div > button {
  min-width: 275px;
}

ss-multiselect-dropdown .input-group-btn button {
  min-width: 0px !important;
}

.tab-content {
  padding: 20px;
  border: 1px solid #cccccc;
  border-top-color: transparent;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

accordion-group .panel-default {
  margin-bottom: 10px !important;
}

section > div > div > tabset > ul > li.nav-item a {
  color: #23b3ce !important;
}

section > div > div > tabset > ul > li.nav-item.active a {
  color: #000 !important;
}

accordion > accordion-group > div > div.panel-heading.card-header > div > a:hover {
  text-decoration: none;
  color: #23b3ce;
}

.accordion-toggle {
  text-decoration: none !important;
}
body > div > app-root > * > app-menu > app-register-modal > div > div > div > div > div > div > div:nth-child(1) > div > div > label {
  width: 50%;
}

body > div > app-root > * > app-menu > app-register-modal > div > div > div > div > div > div > div:nth-child(1) > div,body > div > app-root > * > app-menu > app-register-modal > div > div > div > div > div > div > div:nth-child(1) > div > div {
  width: 100%;
}

body > div > app-root > * > app-menu > app-register-modal > div > div > div > div > div > div > div:nth-child(1) > div > div > label.active {
  background-color: #337ab7 !important;
  color: #fff;
}

#navbar > div > div > ul {
  min-width: 0;
}

.flags {
  height: 33px;
  border: none !important;
}

#navbar > div > div.btn-group.navbar-btn.dropdown.open.active > ul > li > a {
  cursor: pointer;
}
body > div > app-root > app-how-it-works > div > div.modal.fade.in > div > div > div.modal-body > div.col-md-10.col-md-offset-1.pull-left > div > div > div > div > ss-multiselect-dropdown > div > button{
  height: 30px!important;
  width: 100%!important;
}
body > div.container > app-root > app-profile > div > section > div > div > div > div.panel-body > div:nth-child(1) > div.col-md-3 > div:nth-child(1) > div > div > ng2-image-gallery > div > div{
  width: 100%!important;
  max-height:none!important;
  border:1px solid #cecece;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0px!important;
  max-width: 250px!important;
}

body > div.container > app-root > app-profile > div > section > div > div > div > div.panel-body > div:nth-child(1) > div.col-md-3 > div:nth-child(1) > div > div > ng2-image-gallery > div > div > img{
  width: 100%;
  height: auto;
  max-width: none!important;
  max-height:none!important;
}
body > div.container > app-root > app-profile > div > section > div > div > div > div.panel-body > div:nth-child(1) > div.col-lg-6 > div:nth-child(1) > div > ng2-image-gallery > div > div{
  margin-top: 50px;
}
body > div.container > app-root > app-profile > div > section > div > div > div > div.panel-body > div:nth-child(1) > div.col-md-3 > div:nth-child(2) > div > ng2-image-gallery > div > div{
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}

body > div.container > app-root > app-profile > div > section > div > div > div > div.panel-body > div:nth-child(1) > div.col-md-3 > div:nth-child(2) > div > ng2-image-gallery > div > div > img{
  min-width: 55px!important;
  min-height: 55px!important;
  max-width: 70px!important;
  max-height: 70px!important;
  width: auto!important;
  height: auto!important;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;

}

body > div.container > app-root > app-profile > div > section > div > div > div > div.panel-body > tabset > div > tab.active.tab-pane > div:nth-child(1) > div.col-lg-12 > div:nth-child(2) > div > ng2-image-gallery > div{
  text-align: center;
}

.round-border-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.edit-profile-thumbnail{
  max-width: 100px;
  max-height: 200px;
  margin: 5px 0 0 15px;

}
.edit-profile-thumbnail-video{
  max-width: 200px;
  max-height: 200px;
  margin: 5px 0 0 15px;
}

.delete-cursor {
  cursor: url(/assets/images/delete.png), auto;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.media-object{
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
.no-padding{
  padding: 0!important;
}
.no-border{
  border: none!important;
  box-shadow:none!important;
}

.no-resize{
  resize: none;
}
#navbar > div > bs-dropdown-container > div > ul{
  min-width: 40px;
}
#payment-form > div > div:nth-child(2) > div > bs-dropdown-container {
  min-width: 100%;
}
body > div > app-root > * > app-menu > app-register-modal > div > div > div > div > div > div > div > div > ss-multiselect-dropdown > div > button {
  min-width: 100%!important;
  max-width: 100%!important;
  width: 100%!important;

}
.logo{
  position: relative;
  top: -6px;
}
body > div > app-root > app-talent > app-menu > nav {
  height: 60px!important;
}
.bg-image{
  width: 100%!important;
  background: url("/assets/images/bg1.jpg");
  position: absolute;
  top: 0px;
  left: 0px;
  height: 336px;
}
.nav > ul > li
{
  list-style-type: none;
  display: inline;
}

.nav>li{
  line-height: 50px;
}

#navbar > ul > li:before {
  content: " | ";
}
#navbar > ul > li > a {
  margin-top: -50px!important;
}
#navbar > ul > li > a {
  margin-left: 25px;
  margin-right: 25px;
}
.nav>li>a {
  padding-top: none!important;
}

/*talent*/
/*man icon*/
.form-group_e div > label:nth-child(1) {
  border: none;
  box-shadow: none!important;
  background: url("/assets/images/man-small-grey.png") no-repeat top  8px left 10px;
  padding: 8px 35px;
  margin-left: 5px;

}
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(1).active,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(1):hover, body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(1).btn.btn-default.ng-valid.ng-touched.ng-dirty.active, body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(1):hover {
  border: none!important;
  box-shadow: none!important;
  background: url("/assets/images/man-small-white.png") no-repeat top  9px left 10px #23b3ce!important;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;



}
/*women icon*/
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(2), body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(2) {
  border: none;
  box-shadow: none!important;
  background: url("/assets/images/women-small-grey.png") no-repeat top  8px left 10px;
  padding: 8px 35px;
  margin-left: 5px;

}
body > div > app-root > app-dashboard > div > section:nth-child(1) > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label.btn.btn-default.active,

body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(2).active,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(2):hover,body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(2).btn.btn-default.ng-valid.ng-touched.ng-dirty.active,body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(2):hover {
  border: none!important;
  box-shadow: none!important;
  background: url("/assets/images/woman-small-white.png") no-repeat top  9px left 10px #23b3ce;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;


}

/*trans icon*/
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(3), body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(3) {
  border: none;
  box-shadow: none!important;
  background: url("/assets/images/trans-small-grey.png") no-repeat top  8px left 10px;
  padding: 8px 40px;
  margin-left: 5px;

}
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(3).active,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(3):hover,body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(3).active, body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(3):hover {
  border: none!important;
  box-shadow: none!important;
  background: url("/assets/images/trans-small-white.png") no-repeat top  9px left 10px #23b3ce;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;


}

/*all icon*/
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(4),body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(4) {
  border: none;
  box-shadow: none!important;
  background: url("/assets/images/all-small-grey.png") no-repeat top  8px left 10px;
  padding: 8px 40px;
  margin-left: 5px;


}
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(4).active,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > div > label:nth-child(4):hover,body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(4).active,body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.col-md-12.text-center > div > div > label:nth-child(4):hover {
  border: none!important;
  box-shadow: none!important;
  background: url("/assets/images/all-small-white.png") no-repeat top  9px left 10px #23b3ce;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;


}


body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-12.text-center > div > label
{
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: 3px;
  color: #333333;
}
.irs-slider{
  width: 5px;
  top: 20px;
}
.irs-line{
  height: 25px!important;
  cursor: pointer;overflow: visible!important;
}
.irs-line-mid,.irs-line-left,.irs-line-right,.irs-bar{
  height: 4px;
}

body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div:nth-child(2) > div > div > label

{
  font-size: 20px;
  font-weight: 100;
}
.high-text{
  font-size: 10px;
  position: relative;
  top: -8px;
}

.irs-from, .irs-to, .irs-single{
  top: -28px;
  font-size: 15px;
  font-weight: 100;
}
.irs-min,.irs-max{
  display: none;
}
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-6.left_hand > div:nth-child(3) > ss-multiselect-dropdown > div > ul > li > a{
  font-size: 15px;
  font-weight: 100;
}
input[type="checkbox"]{
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
  cursor: pointer;
  background-color: #0e90d2;

}

ss-multiselect-dropdown > div > ul.dropdown-menu{
  max-width: 280px;
  margin: -42px 0 0;
}

#toogle-id{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 40px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  top: -20px;
}


body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div:nth-child(3) > div > div > ss-multiselect-dropdown > div > ul{
  overflow-x: hidden;
}

body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div:nth-child(3) > div > div > ss-multiselect-dropdown > div > button,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.toggle > div > div > div > ss-multiselect-dropdown > div > button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;

}
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div.col-md-6.left_hand > div > div > label,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div:nth-child(3) > div > div > div > label,
body > div > app-root > app-talent > div > div.row.text-center > div > div > div.toggle > div > div > div > div > label
{
  font-weight: 100;
  color: #333;
}

body > div > app-root > app-talent > div > div.row.text-center > div > div > div.toggle > div.col-md-12 > div > label, body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.btn-group > label {
  -webkit-border-radius: 2px!important;
  -moz-border-radius: 2px!important;
  border-radius: 2px!important;
  border-color: #e5e5e5!important;
  padding: 10px 50px!important;
  color: rgba(0,0,0,.4);
  box-shadow: none!important;
}

body > div > app-root > app-talent > div > div.row.text-center > div > div > div.toggle > div.col-md-12 > div > label.active,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.toggle > div.col-md-8.col-md-offset-2 > div > label:hover,body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.btn-group > label.active, body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div.btn-group > label:hover{
  background-color: rgba(0,0,0,.01)!important;
  color: #0e90d2;
}
/*#sizing-addon3{*/
/*display: none;*/
/*}*/
#basic_width > div.row.text-center > pagination > ul > li.pagination-page.page-item.active a{
  background-color: #23b3ce!important;
  border-color: #23b3ce!important;
}
pagination > ul > li > a {
  margin: 0 20px;
}
#basic_width > div.row.text-center > pagination > ul > li.pagination-next.page-item.disabled > a {
  margin: 0;
}
.pagination-sm>li>a, .pagination-sm>li>span{
  padding: 5px 12px;
}

#basic_width > div.row.text-center > pagination > ul > li.pagination-page.page-item > a {
  border: none;
}
.wider{
  width: 120%;
  left: -10%;
}
body > div > app-root > app-talent > app-footer > footer{
  border-top: 1px solid #ebebeb;
}

.no-border-btn {
  position: relative;
  right: -46px;
  border: none;
  box-shadow: none;
  font-size: 14px!important;
  line-height: 30px;padding:16px 33px 14px 33px!important;
}
.navbar-btn{margin-top:0px;
  margin-bottom:0px;}
.no-border-btn:hover{background-color:#16cebe!important;color:#fff;
  -webkit-border-radius: 0px!important;
  -moz-border-radius: 0px!important;
  border-radius: 0px!important;}
/*mobile menu styles*/
@media (max-width: 1024px) and (min-width: 100px){

  .nav>li{
    min-height:25px;line-height:48px;
  }
  .navbar-nav>li>a{
    line-height:30px!important;}
  .navbar-header{
    background: #fff!important;}
  .play{
    float: none!important;
    clear: both;
  }
  .full-size{
    padding: 15px 5px!important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    /*border-width: 0 0 1px;*/
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

  .navbar-toggle {  margin-right: -9px!important;}
  #navbar > ul.nav.navbar-nav{
    width:62%;
    float: left;}
  .mobile_half{
    float: right!important;
    position: relative;
    width:50%;top:-76px;}
  #navbar > div.pull-right{float: right!important;}
  .flags{
    position: relative;right:-44px!important;
    top: -123px!important;
    z-index: 10000000000000000!important;}
  .flags_menu{ position: relative;
    left: 43px!important;width: 62px;
    top: -118px!important;
    z-index: 10000000000000000!important;}
  .no-border-btn {
    position: absolute;
    right: 0px;background: #23b3ce!important;
    border: none;
    box-shadow: none;
    font-size: 12px!important;float: left;
    text-align: center!important;padding-top:8px!important;padding-bottom:8px!important;
    line-height: 30px; border-radius: 0px!important;width:60%!important;
    border: none;top:-60px;color:#fff;padding-left:0px!important;padding-right:0px!important}
  .no-border-btn:hover{background-color:#16cebe!important;color:#fff;}
  .full-size{
    position: relative;
    right: 0px;
    border: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 30px; border-radius: 0px!important;
    border: none;width:60%!important;padding:8px 5px 8px 5px!important;
  }
  #navbar > ul > li:hover {
    border-bottom: 0px!important;
  }
}


/*end of mobile menu styles*/
@media (max-width: 360px) and (min-width: 10px){
  .white_e{
    background: #fff!important;}
  .header-text{
    font-size: 35px!important;
  }
  .down-500{
    margin-top: 50px!important;
  }
  body > div > app-root > app-home > section > div > div > div > div.col-md-12.white.down-bottom.wider > div{
    float: left;
    margin-left: 10px!important;
  }


}
@media (max-width: 650px) and (min-width: 100px){



  .align-right{
    text-align: left!important;
  }
}

@media (max-width: 960px) {
  /*#navbar > div {*/
  /*width: 60px;*/
  /*}*/
  #navbar > ul > li.active {
    display: none;
  }


  body > div > app-root > app-home > section > div > div > div > div.col-md-12.white.down-bottom.wider{
    margin-top: 20px;
  }
  body > div > app-root > app-home > section > div > div > div > div.col-md-12.white.down-bottom.wider > div{

    float: left;
  }

  .align-right{
    text-align: left!important;
  }

  body > div > app-root > * > app-footer > footer > div > div > div.col-md-3.down-footer-middle.hidden-xs.right-border,body > div > app-root > * > app-footer > footer > div > div > div.col-md-3.down-60.hidden-xs.right-border, body > div > app-root > * > app-footer > footer > div > div > div.col-md-1.down-60.hidden-xs{
    display: none;
  }

}

@media (max-width: 1200px) and (min-width: 1000px){


  footer img{
    right: 0!important;
  }



}

@media (max-width: 1200px) {

  .nav>li>a {
    padding-left: inherit;
  }
  .nav>li>a {
    padding-right: inherit;
  }

}

@media (max-width: 1460px) {
  .wider{
    width: 100%;
    left: 0;
  }

}
.not-round{
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}
/*@media (min-width: 1140px) {*/

/*}*/
body > div.container > app-root > app-profile > div.container > section > div > div > div > div.panel-body > div > div.col-md-3 > div:nth-child(1) > div > div > ng2-image-gallery > div > div > img {
  min-width: 400px;
  min-height: 400px;
  margin-top: -30%;
  margin-left: -30%;

}
.big-input-padding{
  padding: 21px 12px;
}
.input-color-light{
  color: #a1a1a1;
}
.empty-button {
  border: 1px solid #23b3ce!important;
  color: #23b3ce;
}
.empty-button:hover {
  color: #3e96e2;
}
.play-blue {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://images.castifyme.com/web/images/play-blue.png") center no-repeat;
  cursor: pointer;
}
.play-blue:hover {
  background: url("https://images.castifyme.com/web/images/play-white.png") center no-repeat;
}
/*
* Edit Profile:
*/
body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul{
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: none!important;
  background-color: #f9f9f9;

}
body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li.nav-item > a{
  color: #4a4a4a!important;
  font-size: 13px;
  padding: 17px 20px;
  border-top:1px solid transparent!important;
}

body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li.nav-item.active > a{


  background-color: #fff;
  border-top:2px solid #23b3ce !important;
  color: #4a4a4a!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  top: -1px;
}
body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li.nav-item.active > a:hover{
  padding: 17px 20px!important;
}
body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li.nav-item > a:hover{
  background-color: #fff!important;
  border: none;
  border-top:2px solid #23b3ce !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 17px 21px;
  position: relative;
  top: -1px;
}

body > div > app-root > app-edit-profile > div > section > div > div > tabset > div{
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  border-bottom-width: 2px!important;
  overflow: hidden;
  padding-top: 50px!important;
}
.big-btn-padding{
  padding: 15px 40px;
  font-size: 13px!important;
  text-transform: uppercase;
}
.big-btn-padding-sm{
  padding: 13px 20px;
  font-size: 11px!important;
  text-transform: uppercase;
}
.big-btn-padding-xsm{
  padding: 5px 10px;
  font-size: 11px!important;
  text-transform: uppercase;
}
.danger{
  background-color: #bb7371!important;
  color: #fff;
  border: 1px solid #98615f;
}
.danger:hover{
  background-color: #e08886!important;
}

body > div > app-root > app-edit-profile > div > section > div > div > tabset > div > tab.tab-pane.active > div > div > div > div.col-md-3 > div > ss-multiselect-dropdown > div > button,body > div > app-root > app-edit-profile > div > section > div > div > tabset > div > tab.tab-pane.active > div > div > div > div > ss-multiselect-dropdown > div > button, body > div > app-root > app-dashboard > div > section > div > div > div.col-md-10.col-md-offset-1 > div > div > div > div > div:nth-child(3) > div > div > ss-multiselect-dropdown > div > button{
  width: 100%!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  padding:12px;
  font-size: 13px;
  color: #a1a1a1!important;
}
body > div > app-root > app-edit-profile > div > section > div > div > tabset > div > tab.tab-pane.active > div > div > div > div:nth-child(2) > div:nth-child(3) > div > label.btn.btn-default.ng-valid{
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  padding:12px 15px;
  font-size: 13px;
  color: #a1a1a1!important;
}
body > div > app-root > app-edit-profile > div > section > div > div > tabset > div > tab.tab-pane.active > div > div > div > div:nth-child(2) > div:nth-child(3) > div > label.btn.btn-default.active,body > div > app-root > app-edit-profile > div > section > div > div > tabset > div > tab.tab-pane.active > div > div > div > div:nth-child(2) > div:nth-child(3) > div > label.btn.btn-default.ng-valid:hover{
  box-shadow: none;
  background-color: #23b3ce;
  color: #fff!important;
}

/*
* Edit Profile END
*/
.sweet-alert {
  box-sizing : border-box;
  max-height : 100% !important;
  overflow-y : auto !important;
  padding : 40px 17px 17px 40px!important;
  width : 512px;
}
.sweet-alert:before {
  content : "";
  display : block;
  height : 17px;
  width : 0;
}
body > div.container > app-root > app-dashboard > div > section:nth-child(1) > div > div > div:nth-child(5) > div > div > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > ss-multiselect-dropdown > div > button,
body > div.container > app-root > app-dashboard > div > section > div > div > div:nth-child(4) > div > div > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > ss-multiselect-dropdown > div > button{
  width: 100%!important;
  height: 44px;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}

body > div > app-root > app-how-it-works > div > section > div > div > div > label,
body > div > app-root > app-dashboard > div > section:nth-child(1) > div > div > div:nth-child(5) > div > div > div > div:nth-child(1) > div > div > div > label,
body > div > app-root > app-dashboard > div > section > div > div > div:nth-child(4) > div > div > div > div:nth-child(1) > div > div > div > label{
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  padding: 10px 40px!important;
  color: rgba(0,0,0,.4);
}
body > div > app-root > app-how-it-works > div > section > div > div > div > label.btn.btn-default.active,
body > div > app-root > app-dashboard > div > section:nth-child(1) > div > div > div:nth-child(5) > div > div > div > div:nth-child(1) > div > div > div > label.active,
body > div > app-root > app-dashboard > div > section:nth-child(1) > div > div > div:nth-child(5) > div > div > div > div:nth-child(1) > div > div > div > label:hover,
body > div > app-root > app-dashboard > div > section > div > div > div:nth-child(4) > div > div > div > div:nth-child(1) > div > div > div > label.btn.btn-default.ng-untouched.ng-pristine.ng-valid.active,
body > div > app-root > app-dashboard > div > section > div > div > div:nth-child(4) > div > div > div > div:nth-child(1) > div > div > div > label.btn.btn-default.ng-valid.ng-touched.ng-dirty.active,
body > div > app-root > app-dashboard > div > section > div > div > div:nth-child(4) > div > div > div > div:nth-child(1) > div > div > div > label:hover{
  background-color: #23b3ce;
  box-shadow: none;
  color: white;
}
.written-casting-call{
  width: 100%;
  height: 150px;
  display: block;
  background: url("https://images.castifyme.com/web/images/written_applications_white.png") center no-repeat #23b3ce;
  position: absolute;
  top:-11px;
  left: -10px;
  border-right: 1px solid #888;
}

.selftape-casting-call{
  width: 100%;
  height: 150px;
  display: block;
  background: url("https://images.castifyme.com/web/images/casting_call_white.png") center no-repeat #23b3ce;
  position: absolute;
  top:-11px;
  left: -10px;
  border-right: 1px solid #888;
}
.written-casting-call span, .selftape-casting-call span {
  position: relative;
  top: 60%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.capitalize {
  text-transform: capitalize;
}
.noover{
  /*overflow: hidden;*/
  display: flex;
  margin-top: 20px;
  border: 1px solid #cecece;
  color: #555555!important;
  cursor: pointer;
}
.new-job-icons-selftape{
  background: url("https://images.castifyme.com/web/images/selftape.png") center no-repeat #23b3ce;
  background-size: 50px 35px;
  min-height: 150px;
  border-right: 1px solid #888;
  float: none;
  display: table-cell;
  vertical-align: top;
}

.new-job-icons-written{
  background: url("https://images.castifyme.com/web/images/written.png") center no-repeat #23b3ce;
  min-height: 150px;
  background-size: 45px 38px;
  border-right: 1px solid #888;
  float: none;
  display: table-cell;
  vertical-align: top;
}
.new-job-buttons {
  position: relative;
  left: -44px;
}
.new-job-buttons li{
  float: left;
  list-style:none;
  background-color: #94c92e;
  color: #fff;
  padding: 1px 6px;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 12px;
}
.new-job-deadlines{
  text-align: center;
  padding: 10px;
  border-left: 1px solid #cecece;
  font-size:13px;
}
.popover {
  word-wrap:break-word;
}

.application-overview-top-top-second-line{
  position: relative;
  top: -3px;
  border: 1px solid #23b3ce;
}

.application-overview-top-bottom-second-line{
  position: relative;
  top: -1px;
  border: 1px solid #cecece;
}

.castify-me-contact-us {
  min-height: 500px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
body > div > app-root > app-faq > div > section > div > div > div > tabset > ul > li.nav-item > a,
body > div > app-root > app-faq > div > section > div > div > div > tabset > ul > li.nav-item,
body > div > app-root > app-faq > div > section > div > div > div > tabset > div,
body > div > app-root > app-faq > div > section > div > div > div > tabset > ul{
  border: none!important;
}

body > div > app-root > app-faq > div > section > div > div > div.castify-me-contact-us > div.row > div > accordion > accordion-group > div > div.panel-heading.card-header,
body > div > app-root > app-faq > div > section > div > div > div.castify-me-contact-us > div.row > div > accordion > accordion-group > div{
  -webkit-border-bottom-left-radius: 0!important;
  -webkit-border-bottom-right-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  background-color: #fff!important;

}
body > div > app-root > app-faq > div > section > div > div > div.castify-me-contact-us > div.row > div > accordion > accordion-group > div > div.panel-heading.card-header:hover {
  background-color: #ececec!important;
}

body > div > app-root > app-faq > div > section > div > div > div.castify-me-contact-us > div.row > div > accordion > accordion-group.panel-open > div > div.panel-heading.card-header {
  background-color: #ececec!important;
}
.cookies {
  z-index: 1020;
  width: 100%;
  font-size: 12px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 3px 0 3px 0;
  margin-top: -10px;
}
.cookies a{
  cursor: pointer;
}
.no-line-height{
  line-height: 0;
}
body > div > app-root > app-edit-profile > div > section > div > div > tabset > div > tab.tab-pane.active > div > div:nth-child(1) > div.col-md-3 > div > ss-multiselect-dropdown > div > ul {
  position: relative!important;
}
.display-inline-block{
  display: inline-block;
}
body > div > app-root > app-edit-profile > div > section > div > div > tabset > div {
  max-height: 750px;
  overflow-y: auto;
}
.center_mobile_e ol li{line-height:23px;margin:15px 0 15px 0;}
.center_mobile_e p{ text-align: left;line-height:23px;}
.center_mobile_e h5{ text-align: left;}
.left_e{text-align:left;}
@media only screen and (max-width:920px)and (min-width:220px) {
  .center_mobile_e p{ text-align: center;}
  .center_mobile_e { padding-left:20px;
    padding-right:20px;
    line-height:23px;}
  .center_mobile_e ol li{line-height:23px;margin:15px 0 15px 0;}
  .center_mobile_e h5{ text-align: center;}
  .left_e{text-align:left;}
}

.m_bottom_e{margin-bottom:35px; }
.no_padding{
  padding-left:0px!important;padding-right: 0px!important;}

@media only screen and (max-width:1000px)and (min-width:220px) {
  .wider{
    width: 100%!important;
    float: left!important;
  }
  .center_mobile_e2{
    width:285px;
    margin:15px auto!important;
    float: none!important;   text-align: center!important;}
  .center_mobile_e2 label{
    text-align: center!important;
    float: none!important;}
  .hidden-xs{
    display: none;
  }
  .subscribe-me{
    width:260px;}
}

/*menu styles*/
.holds_buttons_before_login{
  width:auto;
  float: right;}
.holds_flags{margin-top:14px;}
@media only screen and (max-width:1460px)and (min-width:1250px) {
  nav > .container {
    width: 95% !important;
    float: left;
  }
  #navbar > ul {

    margin-top: 8px!important;
    float: left!important;
    margin-left:20px!important;
  }
  .holds_buttons_before_login{
    width:157px;
    float: right;}
}


@media only screen and (max-width:1249px)and (min-width:1025px) {
  nav > .container {
    width: 95% !important;
    float: left;
  }
  #navbar > ul {

    margin-top: 8px!important;
    float: left!important;
    margin-left:20px!important;
  }
  .holds_buttons_before_login{
    width:157px;
    float: right;}
  #navbar > ul > li:not(:first-child) > a{
    font-size: 13px!important;margin-right: 9px!important;
    margin-left:9px!important;}
  .nav>li>a {
    position: relative;
    display: block;
    padding: 17px 10px;
  }


}


@media only screen and (max-width:1200px)and (min-width:220px) {
  .cookies {
    z-index: 1020;
    width: 100%;
    font-size: 12px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 8px 10px 8px 10px;
    margin-top: -10px;
  }
  body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div > div > div > ss-multiselect-dropdown > div > button,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.toggle > div > div > div > ss-multiselect-dropdown > div > button {
    min-width:80%;
    float: left;
  }
  .button_label_e{margin-top:20px;}
  .full-size{
    font-size:12px!important;}
}
@media only screen and (max-width:960px)and (min-width:220px) {

  .left-vertical a{
    text-align: center!important;}
  .pull-right{
    text-align: center!important;float: none!important;}
  .spacing{text-align: center!important;
    float: none!important;padding-left: 0px!important;margin:15px 0 20px 0;font-size: 14px!important;}
  .rounded{margin-left:65px!important;}


}

@media only screen and (max-width:766px)and (min-width:220px) {
  .btn_e{width:100%;
    float: left;margin-left: 0px!important;margin-bottom: 5px;border-radius: 2px}
  .sweet-alert{width:94%!important;
    left:auto;
    right:3%;}

  .app-payments body > div.sweet-alert.showSweetAlert.visible{width:94%;
    left:3%;
    right:3%;}

  body > div > app-root > app-talent > div > div.row.text-center > div > div > div.row > div > div > div > ss-multiselect-dropdown > div > button,body > div > app-root > app-talent > div > div.row.text-center > div > div > div.toggle > div > div > div > ss-multiselect-dropdown > div > button {
    min-width:100%;
    float: left;
  }
  .button_label_e{margin-top:20px;}
  .left-vertical {
    width: 90%;
    margin :1% 5% 1% 5%;
    padding-bottom: 15px!important;
    border:1px solid #424242!important;
    text-align: center !important;
    min-height:60px;
  }
  .pull-left{
    text-align: center;float: none!important;}
  .rounded{margin-left:0px!important;}
  .mobile_button_e{width:48%;    margin-left: 0px!important;
    float: left;}
  .full_width_button_mobile{
    width:100%;
    float: left;margin-top:10px;}
  .full_mobile_width{width: 100%;
    float: left;}

}
.row-eq-height{ display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex!important;
  flex-wrap: wrap;}

.row-eq-height > [class*='col-'] {
  display: flex!important;
  flex-direction: column!important;
}
.btn_e{width:104px;
  float: left;}
.additional_info_button{
  float: left;
  width:49%;margin:0 0.5% 1% 0.5%;
  text-align: center;}
.additional_info_button .btn{padding:8px auto 8px auto!important;width:100%;}
.additional_info_button .btn:hover{color:#fff!important;background:#23b3ce!important}

.additional_info_button .button-light{color:#fff!important;background:#23b3ce!important}

.additional_info_button_center{width: 50%;margin-left:25%;margin-right:25%;}
.additional_info_button_center .btn{padding:8px auto 8px auto!important;width:100%;}
.additional_info_button_center .btn:hover{color: #fff!important;background:#23b3ce!important}

.additional_info_button_center  .button-light{ color: #fff!important;background:#23b3ce!important}

.logged_in{top:10px;}

.form-group{margin-bottom: 11px!important;}
.modal-dialog{
  margin:8px auto!important;}
.modal-body{padding:2px!important;}
.dropdown{top:8px!important;}
.actor-bio-data2{
  font-size:15px;}
body > div > app-root > app-edit-profile > div > section > div > div > tabset > div > tab.tab-pane.active > div > div > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(3) > div > label{color:#a1a1a1;}
.label_blue{border-radius: 0px!important;background: #fff!important;color:#a1a1a1;padding:10px 16px 10px 16px;}
.label_blue.active{background:#23b3ce!important;color:#fff!important;}
.label_blue:hover{background:#23b3ce!important;color:#fff!important;}
@media only screen and (max-width:767px)and (min-width:100px) {
  .additional_info_button2{
    float: left;
    width:90%;margin:0 5% 1% 5%!important;
    text-align: center;}
  .additional_info_button{
    float: left;
    width:90%;margin:0 5% 1% 5%;
    text-align: center;}
  .additional_info_button_center{float: left;
    width:90%;margin:0 5% 1% 5%;
    text-align: center;}
  .mobile_btn{ float: left;
    width:90%;margin:0 5% 2% 5%!important;
    text-align: center;}
  .actor-bio-data2{ float: left;
    width:100%;   text-align: center;}

  .remember_login{font-size:15px;position: relative;top:-6px;}
  .help-block{font-size: 15px;}

}


@media only screen and (max-width:1024px)and (min-width:100px) {
  .logged_in{top:-112px!important;}
  #navbar > div > bs-dropdown-container > div > ul{top:-123px;left:1px}
  #navbar > ul > li.active {
    border-bottom: none!important;
  }
  #navbar > ul > li.active > a{
    color:#333;
  }
}


.modal-body{overflow-y: scroll!important;overflow-x: hidden;}
/*edit profile page tab styles*/
body > div > app-root > app-edit-profile > div > section > div > div > tabset > div > tab.tab-pane.active > div > div > div > div:nth-child(1) > div > div > ss-multiselect-dropdown > div > button{
  width: 100%!important;
  border-radius: 0!important;
  padding: 12px;
  font-size: 13px;
  color: #a1a1a1!important;
}
@media only screen and (max-width:1208px)and (min-width:1025px) {
  .container_el{width:100%!important;padding-right:8px!important;padding-left:8px!important;}
}
@media only screen and (max-width:1183px)and (min-width:1035px) {
  body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li.nav-item.active > a:hover{
    padding: 17px 15px!important;
  }
  tabset > ul > li.nav-item > a{padding-left: 15px!important;padding-right:15px!important;}
  tabset > ul > li.nav-item > a:active{padding-left: 15px!important;padding-right:15px!important;}
  tabset > ul > li.nav-item > a:hover{padding-left: 15px!important;padding-right:15px!important;}
  tabset > ul > li.nav-item > a:focus{padding-left: 15px!important;padding-right:15px!important;}
}
@media only screen and (max-width:1034px)and (min-width:768px) {
  .label_blue{padding:10px 10px 10px 10px!important;}
  .container_el{width:100%!important;padding-right:10px!important;padding-left:10px!important;}
  tabset > ul > li.nav-item{width:25%!important;
    float: left;}
}
@media only screen and (max-width:767px)and (min-width:580px) {

  .label_blue{width:100%;float:left;margin-bottom:8px;} }

@media only screen and (max-width:1050px)and (min-width:580px) {



  tabset > ul > li.nav-item{width:33.333%!important;height:50px;
    float: left;border:1px solid #ddd!important;border-right:none!important; }
  tabset > ul > li.nav-item.active > a {height:48px!important;border-left:none!important;border-right:none!important;top:-2px;}
  body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li:nth-child(8){border-right:1px solid #ddd!important;}
  tabset > ul > li.nav-item.active{}
  .btn_e{width:150px;
    float: left;margin-left: 0px!important;margin-bottom: 5px;border-radius: 2px} }

@media only screen and (max-width:1300px)and (min-width:100px) {
  body > div > app-root > app-edit-profile > div > section > div > div > tabset > div{
    max-height:1800px!important;}

}
.button-light{color: #fff!important;}
.more_padding_left_right{padding-left:60px;padding-right:60px;}
tabset > div > tab.tab-pane.active > div > div > input{margin-bottom:8px!important;}
tabset > div > tab.tab-pane.active > div > div > div.col-md-12.down-30 > div.col-md-3.col-md-offset-4 > input{margin-bottom:8px!important;}


@media only screen and (max-width:768px)and (min-width:100px) {
  .more_padding_left_right{padding-left:15px;padding-right:15px;}
  .center_e{margin:10px auto!important;width:245px}
  .center_btn{margin:0 auto;width:200px!important}
  .more_padding_left_right > div> div > button.not-round{width:200px!important}
  .hold_application_for_mobile{width: 90%;
    margin-left:5%;
    margin-right:5%;}
  .mobile_full_width{width:100%!important;
    float: left;}
  .noover{display: block!important;}
  .private-row{position: static!important;
    float: left;width:100%;}
  .private{
    float: left!important;}
  .checkbox {
    font-size: 22px;
    left: 5px;
    color: #23b3ce;
    cursor: pointer;
    position: static!important;}
  .checkbox_select_all{font-size: 15px; color: #555555;position: static!important;padding-right: 5px;}
}

@media only screen and (max-width:579px)and (min-width:100px) {
  body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li.nav-item.active > a:hover{
    padding: 17px 8px!important;
  }
  .label_blue{width:100%;float:left;margin-bottom:8px;}
  tabset > ul > li.nav-item > a{padding:17px 8px!important;}
  tabset > ul > li.nav-item.active > a{padding:17px 8px!important;}
  tabset > ul > li.nav-item > a:active{padding:17px 8px!important;}
  tabset > ul > li.nav-item > a:hover{padding:17px 8px!important;}
  tabset > ul > li.nav-item > a:focus{padding:17px 8px!important;}
  .btn_e{width:100%;  float: left;margin-left: 0px!important;margin-bottom: 5px;border-radius: 2px}
  tabset > ul > li.nav-item{width:50%!important;  float: left; border:1px solid #ddd!important;border-right:none!important;     height: 50px;}
  body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li.nav-item.active > a{height:49px!important;top:-2px;border-left:0px!important;border-right:0px!important;}

  body > div > app-root > app-edit-profile > div > section > div > div > tabset > ul > li:nth-child(8){border-right:1px solid #ddd!important;}
  tabset > ul > li.nav-item.active{border-left: none!important;border-right:none!important;}
}
.full_width_e{
  width:100%!important;}
.dropdown_e{
  width: 100%!important;border-radius:0px!important;
  float: left!important;
  margin-bottom:30px!important;
  min-height:40px;}

@media only screen and (max-width:1180px)and (min-width:767px) {
  .center_mobile_e2{margin-top:0px!important;}
  .down-60{margin-top:59px!important;}
}

@media only screen and (max-width:1100px)and (min-width:100px) {
  .footer {
    padding-top:10px;padding-bottom:10px;

    bottom:3px;
    width: 100%;
    height: 234px;
    overflow: hidden!important;border-top:1px solid #acacac;  }
  .margin_bottom_for_footer{margin-bottom: 42px!important;}
}

@media (max-width:767px) and (min-width: 100px){
  body > div > app-root > app-filmmaker > div > section > div > div > tabset > ul > li.nav-item > a{padding-left:10px!important;}

}
#mainIframe{width: 100%;height: 483px;}
@media (max-width: 990px) and (min-width: 100px) {
  .vimeo-videos img{display: initial!important;}
}
@media (max-width: 990px) and (min-width: 561px) {
  .modal-dialog{
    width:60%;margin:10px auto!important;}
  #mainIframe{width: 100%;height: 260px!important;}
  body > div.container > app-root > app-profile > div.modal.fade.in > div > div > div.modal-header > h4 {
    text-align: center;
    float: none!important;}
}
@media (max-width: 560px) and (min-width: 100px) {
  .modal-dialog{
    width:90%;margin:10px auto!important;}
  #mainIframe{width: 100%;height: 230px!important;}
}


body > div.container > app-root > app-talent > div > div.row.text-center > div > div > div.row > div > div > div > label{margin-bottom:18px;}
.ng2-image-gallery-thumbnail-container{}
.ng2-image-gallery-thumbnail{min-width: auto!important;
  min-height:auto!important;
  margin-top: 0px!important;
  margin-left: 0px!important;
}
.profile-padding{border-radius: 0px!important}
.text > div > p{ font-size: 16px!important;    font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 300;
  line-height: 1.6em!important;
  color: #656565!important;}
.text > p{ font-size: 16px!important;    font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 300;
  line-height: 1.6em!important;
  color: #656565!important;}

share-button.twitter > button {    background: #008cb2;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}
share-button.facebook > button {    background: #3B5998;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}


share-button.linkedin > button {    background: #0e76a8;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}

share-button.pinterest > button {    background: #c8232c;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}
share-button.google > button {    background: #E34429;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}

share-button.whatsapp > button {    background: #59ac23;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}
share-button.reddit > button {    background: #ff4500;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}
share-button.tumblr > button {    background: #2c4762;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}
share-button.stumbleupon > button {    background: #ea4b24;
  font-size: 20px;margin-right:8px;
  cursor: pointer;
  width: 46px;

  border:none!important;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  color: #ffffff!important;}



/* You can add global styles to this file, and also import other style files */
