
.new-home-image{
  /*position: absolute;*/
  /*top:0px;left:0px;right:0px;bottom:0px;*/
  position: relative;
  top: -10px;
  background: url('https://images.castifyme.com/web/images/bg-image.jpg') no-repeat;
  background-size: cover;
padding-bottom: 125px;

}
.down-500{}
.underline {
  text-decoration: underline;
}
section a {
  color: #23b3ce !important;
}
.header-text{
  color: #fff;
  font-size: 44px;margin-top:10px!important;
}
.header-text-country{
  color: #23b3ce!important;
  font-size: 32px;
  text-align: left;margin-bottom: 0px!important;
}
.text-center2{margin-left: 34px;
  text-align: left;}
.padding_left_e{
  padding-left: 49px;}
.play{
  position: relative;
  top: 10px;
  left: 20px;
  float: right;
  width: 72px;
  height: 72px;
  display: inline-block;
  opacity: .8;
  cursor: pointer;
  background: url("https://images.castifyme.com/web/images/play.png");
}

.play:hover{
  opacity:1;
}
.white{
  color: #fff;
}
.spacing {
  font-size: 16px;
  text-align: left;
  padding-left: 40px;
  word-spacing: 2px;
}

.rounded{
  margin-left: 40px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-weight: bold;
}
.left-vertical p{
  font-size: 13px;
  min-height: 80px;
  display: block;
}
.left-vertical a.pull-right{
  font-size: 12px;
}

.down-bottom{
  margin-top: 165px;
}
.down-500{
  margin-top: 241px;
}
.left-vertical.col-md-3{

  border-right: 1px solid #424242;
  padding: 0 47px;
}
body > div > app-root > app-home > section > div > div > div > div.col-md-12.white.down-bottom.wider > div:nth-child(1) > h3 {
  font-weight: 100!important;
}
@media only screen and (max-width:1260px)and (min-width:768px) {

  .left-vertical.col-md-3{

    border-right: 1px solid #424242;
    padding: 0 14px;
  }
  .white.down-bottom.wider h3{font-size: 20px;}
  .down-500{
    margin-top: 181px;
  }
  body > div > app-root > app-home > section > div.new-home-image{
    height: auto!important;padding-bottom: 65px;
  }
  .down-bottom{
    margin-top: 118px;
  }
  .left-vertical{border:1px solid #424242!important;
    padding-bottom:10px!important;}
}
@media only screen and (max-width:767px)and (min-width:220px) {

  .play{
    position: relative;
    top: 10px;
    left: 0!important;
    float: right;
    width: 72px;
    height: 72px;
    display: inline-block;
    opacity: .8;
    cursor: pointer;
    background: url("https://images.castifyme.com/web/images/play.png");
  }
  .down-500{
    margin-top: 101px;
  }
  body > div > app-root > app-home > section > div.new-home-image{
    min-height: unset!important;padding-bottom: 65px;
  }
  .down-bottom{
    margin-top: 105px;
  }
  .header-text-country{
    color: #fff;
    font-size: 32px;
    text-align: center;margin-bottom: 0px!important;
  }
  .padding_left_e{
    padding-left: 0px!important;}
  .text-center2{margin-left: 0px;
    text-align: center;}
}



