<app-menu></app-menu>
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">CastifyMe.com</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeVideoPlayer()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="videoPlayerWrapper" class="modal-body text-center">
      </div>
    </div>
  </div>
</div>
<section>
  <div class="new-home-image">
    <div class="container home  ">
      <div class="row">
    <div class="text-center">
      <div class="col-sm-12 col-md-10 col-lg-8 col-lg-offset-1 down-500">
        <div class="row"><div class="col-sm-2 col-md-3"></div>
          <div class="col-sm-10 col-md-9 padding_left_e">
          <h2 class="header-text-country" appTranslate>Scandinavia</h2> </div>
        </div>
        <div class="row">

          <div class="col-sm-2 col-md-3"><span (click)="playVideo()" class="play"></span></div>

          <div class="col-sm-10 col-md-9 m_bottom_e">

            <h2 class="text-center2 header-text"><span appTranslate>You are an actor!</span><b appTranslate> Show it</b></h2>
            <p class="white left spacing" appTranslate>Grab the chance and cast yourself with your smartphone.</p>
            <button class="btn btn-primary pretty-buttons button-light pull-left rounded" (click)="announce()" appTranslate>Sign Up For Free</button>
          </div>
        </div>
      </div>
    </div>
        <div class=" col-sm-12 col-md-12 col-lg-12 no_padding  white down-bottom wider">
          <div class="col-sm-6 col-md-3 col-lg-3 left-vertical">
            <h3 appTranslate>Actors &amp; Models</h3>
            <p><span appTranslate>Learn the lines, cast yourself, land the job.</span></p>
            <a class="pull-right" [routerLink]="['/actors_and_models']" appTranslate>READ MORE</a>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 left-vertical">
            <h3 appTranslate>100% Typecast</h3>
            <p appTranslate>Spot actors by their archetype and experience.</p>
            <a class="pull-right" [routerLink]="['/typecasts']" appTranslate>READ MORE</a>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 left-vertical">
            <h3 appTranslate>Fair Pricing</h3>
            <p appTranslate>Cheapest casting site for actors. Free for filmmakers.</p>
            <a class="pull-right" [routerLink]="['/pricing']" appTranslate>READ MORE</a>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 left-vertical no-border">
            <h3 appTranslate>Casting Director</h3>
            <p appTranslate>Receive self tapes or written applications. Your decide.</p>
            <a class="pull-right" [routerLink]="['/pricing']" appTranslate>READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="iAgree !== 'true'" class="col-md-12 text-center" style="padding: 0;">
    <div class="cookies">
      <span>COOKIES POLICY. This website uses cookies, as explained in our Cookies Policy. To accept the terms and hide this message please click 'I accept'.</span>
      <a (click)="readPrivacy()" style="color: #fff!important;font-weight: bold;">Our Cookie Policy</a>
      <button (click)="setIAgree();" style="width: 100px;" class="btn btn-primary button-light btn-xs">I accept</button>
    </div>
  </div>
  <div class="small_space margin_bottom_for_footer"></div>
</section>
<app-footer></app-footer>
